extends layout

mixin row(rowData)
    each item, index in rowData
        tr
            td
                a(href='/orders/' + item.id, role='button', class='btn btn-outline-primary')
                    | Details
            td=moment(item.created_at).format('DD-MMM-YYYY')
            td=item.id
            td=item.billing_address.name
            td=item.email
            td=item.total_price
            td=item.financial_status

block content
    table(class='table table-bordered table-striped')
        each item, index in orderData
            +row(item)